body {
    background-color: black;
}

.space {
    background-image: url("img/space.png");
    width: 80%;
    height: 500px;
    margin: auto;
    position: relative;
}

.planet-area {
    width: 40%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.control-panel {
    position: absolute;
    top: 30%;
    right: 5%;
    width: 40%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    background-image:
            repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255,255,0,1) 15px, rgba(255,255,0,1) 30px);}

.control-panel__inner {
    background-color: #363636;
    padding: 10px;
    border-radius: 10px;
}

.check-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.levers {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

input[type="range"] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    margin: 0;
    width: 20px;
}

input[type="password"] {
    background-color: inherit;
    border-radius: 8px;
    color: #7f7f7f;
    border-color: yellow;
}


#ok-button {
    background-color: yellow;
    border-radius: 8px;
    font-weight: bold;
}

#launch-button {
    background-color: red;
    border-radius: 100%;
    border: white solid 3px;
    color: white;
    padding: 5px;
}

#launch-button:disabled {
    background-color: gray;
}

.planet {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.rocket {
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 100px;
    transform: rotate(45deg) scale(0.3);
}
